#successPart {
    margin: 0;
    grid-row: 2;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 55vh 25vh;/* should add to 85vh */
}

.congrats{
    grid-row: 1;

    width: 100vw;

    font-family: Inter;
    font-size: 2.125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.tree{
    grid-row: 2;

    width: 100vw;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 25vh;/* should add to 55vh */
}

.user{
    grid-row: 1;
}

#userPhoto{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-size: 100%;
    background-color: #D9D9D9;;
    background-image: url("../assets/Lara.png");
}

.potentialMatches{
    grid-row: 2;
}

#match1, #match2, #match3{
    display: inline-block;

    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-size: 100%;
    background-color: #D9D9D9;
}

#match1{
    background-image: url("../assets/match1.png");
}

#match2{
    background-image: url("../assets/match2.png");
}

#match3{
    background-image: url("../assets/match3.png");
}

.matches{
    grid-row: 3;

    width: 100vw;
    margin: 0;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 9vh 16vh;/* should add to 25vh */

    /* border: 1px solid black; */
}

#matchText{
    margin: 0;
    grid-row: 1;
    font-size: 1.25rem;
}

#matchButton{
    margin: 0;
    grid-row: 2;
}

#matchButtonButton{
    display: block;
    margin-top: -8vh;
    width: 20vw;
    height: 5vh;

    text-align: center;

    border-radius: 8px;
    border: #febd26;
    background-color: #febd26;
}