#successPart {
    margin: 0;
    grid-row: 2;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 55vh 25vh;/* should add to 85vh */
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.congrats{
    grid-row: 1;

    width: 100vw;

    font-family: Inter;
    font-size: 2.125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.tree{
    grid-row: 2;

    width: 100vw;
}

.matches{
    grid-row: 3;

    width: 100vw;
    margin: 0;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 9vh 16vh;/* should add to 25vh */

    /* border: 1px solid black; */
}

#matchText{
    margin: 0;
    grid-row: 1;
    font-size: 1.25rem;
}

#matchButton{
    margin: 0;
    grid-row: 2;
}

#matchButtonButton{
    display: block;
    margin: 0;
    width: 20vw;
    height: 5vh;

    text-align: center;

    border-radius: 30%;
}