*{
	padding: 0;
	margin: 0;
}

html {
    font-size: 16px;
}

body{
    overflow: hidden;
}

.userProfilesFrame{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    display: grid;
}

#userProfilesPart{
    margin: 0;
    width: 100vw;
    height: 85vh;

    background-color: #f1efef;

    display: grid;
    grid-template-columns: 27.5vw 72.5vw;
    grid-template-rows: auto;
    gap: 0;
}

.select{
    grid-column: 1;

    display: grid;
    grid-template-columns: 27.5vw;
    grid-template-rows: 13vh 15vh 19vh 19vh 19vh; /* adds to 85vh*/
    gap: 0;
}

.selected{
    grid-column: 2;

    background-color: #f1efef;

    /* 1 column; many rows?*/
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: 13vh auto; /* adds to 85vh*/
    gap: 0;
}

#void{
    background-color: white;
}